@import url("https://fonts.googleapis.com/css2?family=K2D:wght@300;400;600;700&family=Kaushan+Script&family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    @apply border-2 border-red-500;
} */

.line-pattern {
    @apply w-[50px] bg-emerald-500 h-[5px] rounded-sm mb-10;
}

.line-pattern::before {
    @apply content-[''] block w-[20px] bg-emerald-500 h-[5px] rounded-sm ml-[60px];
}

.line-pattern::after {
    @apply content-[''] block w-[20px] bg-emerald-500 h-[5px] rounded-sm ml-[-30px] box-border mt-[-5px];
}

.button {
    @apply px-4 py-3 bg-emerald-500 rounded-lg text-white shadow-sm transition duration-300 hover:ease-in-out hover:bg-emerald-400 focus:outline-none focus:ring focus:ring-emerald-200 inline-block;
}

.button-line {
    @apply px-4 py-3 ring-4 ring-emerald-500 ring-inset rounded-lg text-white shadow-sm transition duration-300 hover:ease-in-out hover:bg-emerald-500 focus:outline-none focus:ring focus:ring-emerald-200;
}

.material-icons {
    @apply text-white;
}

.title {
    @apply text-3xl font-subtitle font-semibold text-center mb-5;
}

.slick-slide {
    transform: scale(0.8);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-center {
    transform: scale(1);
}

.bg-glass {
    @apply backdrop-blur-md duration-300 transition-all ease-in-out bg-black/20 border-b-2 border-b-white/20;
}

.bg-glass #title {
    @apply text-2xl duration-300 transition-all ease-in-out;
}

.bg-glass #container {
    @apply py-2 duration-300 transition-all ease-in-out;
}

/* .swiper {
    @apply w-80 h-80;
} */

.swiper-slide-active #card {
    @apply scale-100;
}

.mySwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
